.textarea {
  padding: 20px;
  min-height: 10em;
  min-width: 30em;
  font-size: 20px;
  border: 1px solid #3f79bf;
  box-shadow: 2px 3px 3px #3f79bf, 1px 0px 10px#235594;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: lighter;
}

input {
  border: 1px solid #3f79bf6e;
  background-color: rgb(20, 6, 21);
  border-radius: 5px;
  /* min-width: 20em; */
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight: lighter;
}

.blutton {
  margin: 20px;
  padding: 1em;
  border: 1px solid #3f79bf;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #3f79bf, 1px 0px 10px#235594;
  text-transform: uppercase;
}

p {
  font-size: small;
  color: #606b79;
  /* color: rgba(255, 255, 158, 0.904); */
}
