.decrypted-entry {
  border: 1px solid white;
  word-wrap: break-word;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(191, 115, 115, 0.516);
}

.entry-page {
  text-align: center;
  background-color: rgb(20, 6, 21);
}

.error {
  text-align: center;
  background-color: rgb(20, 6, 21);
  width: 100vmax;
  height: 100vmax;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    background-color: red;
  }
}
@-webkit-keyframes blink-animation {
  to {
    background-color: black;
  }
}
