.entry-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(20, 6, 21);
  width: 100vw;
}

.entry-text {
  margin: 20px;
  padding: 1em;
  border: 1px solid rgb(174, 102, 102);
  border-radius: 5px;
  box-shadow: 2px 3px 3px 1px rgb(81, 21, 21), 1px 0px 10px 5px rgb(81, 21, 21);
  text-transform: uppercase;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgb(20, 6, 21);
  width: 100vw;
  height: 100vh;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    background-color: red;
  }
}
@-webkit-keyframes blink-animation {
  to {
    background-color: black;
  }
}

.panic-input {
  border: 5px solid red;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.panic-button {
  margin: 0 auto;
  color: red;
  border: 2px outset red;
  padding: 8px;
  text-transform: uppercase;
}

.hidden-entry {
  min-width: 250px;
  margin: 20px;
  padding: 1em;
  border: 1px solid rgb(174, 102, 102);
  border-radius: 5px;
  box-shadow: 2px 3px 3px 1px rgb(81, 21, 21), 1px 0px 10px 5px rgb(81, 21, 21);
  text-transform: uppercase;
}

.white {
  color: white;
}
