#entries-list {
  /* border: 1px solid rgba(106, 54, 255, 0.7); */
  /* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0); */
  text-align: center;
  box-shadow: 2px 2px 5px rgb(249, 185, 255), 0px -4px 10px rgba(249, 185, 255, 0.646);
  margin: 20px auto;
  width: 700px;
  padding: 5px;
}
