/* TODO Add site wide styles */
* {
  font-family: sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-color: rgb(20, 6, 21);
  color: rgb(130, 106, 133);
}
